* {
    outline: 2px solid red;
}

.calculadora {
    width: 300px;
}
.botones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 20px;
}
.pantalla {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    text-align: right;
    background-color: #4169E1;
    color: white;
    border-radius: 8px;
    box-sizing: border-box;
}
button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    background-color: #f0f0f0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #d1d1d1;
}
button:active {
    transform: scale(0.95);
}
.boton-igual {
    background-color: #ff9500;
    color: white;
    grid-column: span 5;
}
.boton-AC {
    background-color: #ff9500;
    color: white;
}
.boton-Backspace {
    background-color: #ff9500;
    color: white;
    grid-column: span 2;
}
.boton-operador-columna {
    grid-column: span 2;
}