/* css de la app */
.App {                          /* Posicion => Texto => Visual => Otros */
  display: flex;                /* Posicion = Posicionamiento => Capa => Coordenadas */
  flex-direction: column;       /* Caja = Display => Alineaciones => Dimensiones => Margenes => Relleno */
  align-items: center;          /* Texto = Fuente => Tamaño => Grosor => Alineacion => Color => Espaciado */
  justify-content: center;      /* Visuales = Fondo => Bordes => Efectos */
  gap: 20px;
  min-height: 100vh;            /* vh es el porcentaje % de  altura de la pantalla que se este usando, vw lo mismo pero de ancho */
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
}

.juego-principal {
  flex-direction: column;       /* Apila los elementos en una columna */
  display: flex;
  box-sizing: border-box;       /* Tamaño inalterable */
  height: 90vh;
  justify-content: space-between;       /* Empuja el primero arriba y el último abajo */
  padding: 20px;
}

.juego-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto 20px auto;
  gap: 15px;
}

.logo-chico {
  font-weight: bold;
  color: var(--color-primario-oscuro);
  font-size: 0.9rem;
  text-transform: lowercase;
}

.stats {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color-texto);
  gap: 10px;
}

.information-card {
  flex-grow: 1;       /* Ocupa el espacio de arriba */
  display: flex;
  align-items: center;
  max-width: 400px;
  gap: 15px;
  padding: 30px;       
  background: var(--color-blanco);       
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);       /* 0px (horizontal) 4px (vertical) 10px (desenfoque) rgba(0,0,0,0.1) (color (rgb) y transparencia del 0 a 1 */
  transition: transform 0.3s, box-shadow 0.3s;
}

.information-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15); 
}

.control-card {
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 15px; /* Espacio entre el grupo de input y el botón saltar */
  padding: 20px 0;
  border-top: 2px var(--color-primario-oscuro); /* Una línea de separación */
}

.expresion {
  font-weight: bold;
  color: var(--color-texto);
}

.input-respuesta {
  width: 80px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  gap: 15px; 
  border: 2px var(--color-primario-oscuro);
}

.boton-saltar {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-gris);
  background: none;
  border: none;
  cursor: pointer;
}

.boton-saltar:hover {
  color: var(--color-gris-oscuro);
}

.boton-comprobar {
  padding: 15px 40px;
  font-size: 1.2rem;
  color: white;
  background-color: var(--color-primario);
  border: none;
  border-radius: 50px;
  transition: transform 0.2s, background-color 0.2s;        /* La transicion a otros estados como hover */
}

.boton-comprobar:hover {
  transform: scale(1.05);
  background-color: var(--color-primario-oscuro);
}

.contenedor-progreso {
  width: 100%;
  height: 12px;
  background-color: var(--color-gris);
  margin-bottom: 0px;
  border-radius: 10px;
  overflow: hidden; /* Para que el relleno no se salga de las esquinas, corta lo que sobresalga */
}

.barra-relleno {
  height: 100%;
  background-color: var(--color-primario);
  border-radius: 10px;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,0.2);     /* la sombra es interna */
  transition: width 0.3s ease-in-out;         /* ease-in-out: suaviza los cambios de estado */
}

.tiempo-container {
  position: relative; /* para que se conjunte con el +3 */
  display: inline-block;
  min-width: 60px;    /* para que no se altere su ancho segun el numero */
}

.bonus {
  position: absolute;
  right: 0px; 
  top: -15px;
  color: var(--color-primario); 
  font-weight: bold;
  font-size: 1.2rem;
  pointer-events: none; 
  
  animation: floatUpFade 1s ease-out forwards;
}

.tarjeta-stats {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  justify-content: space-around;
  padding: 20px;
  background: var(--color-blanco);
  border: 2px solid #e5e5e5;
  border-radius: 15px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-label {
  color: var(--color-gris-oscuro);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.stat-value {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--color-primario);
}

.resultados-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  animation: aparecerBotones 0.8s ease-out;
}

/* darle valores a dos botones a la vez */
.boton-reintentar, .boton-menu {
  position: relative;
  width: 100%;
  letter-spacing: 1px;
  padding: 16px 24px;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: filter 0.2s;
}

.boton-reintentar {
  margin-bottom: 15px;
  color: var(--color-blanco);
  background-color: var(--color-primario);
  box-shadow: var(--sombra-color-primario-oscuro); 
}

.boton-reintentar:hover {
  filter: brightness(1.1); /* Lo aclara un 10% */
  transform: translateY(-2px); 
  box-shadow: var(--sombra-color-primario-oscuro2); /* Sombra mas oscura */
}

.boton-reintentar:active {
  box-shadow: none;
  transform: translateY(5px); 
}

.boton-menu {
  background-color: var(--color-blanco);
  color: var(--color-gris);
  border: 2px solid var(--color-gris);
  box-shadow: 0 5px 0 var(--color-gris-oscuro);
}

.boton-menu:hover {
  background-color: #f7f7f7;
}

.boton-menu:active {
  box-shadow: none;
  transform: translateY(5px);
}